[Unit]
Description=Config and start batman
After=network.target
After=systemd-user-sessions.service
 
[Service]
Type=oneshot
ExecStart=/bin/bash -c "/home/pi/batman-manet/config_batman.sh $(cat /home/pi/ip_addr)"
 
[Install]
WantedBy=multi-user.target
