
---
- name: Run non-interactive script on all hosts
  hosts: all
  become: yes
  vars:
    script_name: config_batman.sh
    mesh_ip_prefix: "192.168.3"

  tasks:
    - name: Install batman
      command: "sudo apt-get install batctl --yes"
    - name: Copy script to remote host
      copy:
        src: "{{ script_name }}"
        dest: "/tmp/{{ script_name }}"
        mode: "0755"

    - name: Execute script with mesh IP argument
      command: "/tmp/{{ script_name }} {{ mesh_ip_prefix }}.10{{ play_hosts.index(inventory_hostname) }}"
      register: script_output

    - name: Show output
      debug:
        var: script_output.stdout
